      
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #042b54;">
        <div class="container-fluid"><a routerlink="/home" routerlinkactive="active" class="nav-link text-black active" ng-reflect-router-link="/home" ng-reflect-router-link-active="active" href="/home">
            <svg width="24" height="24" class="bi me-2">
                <use xlink:href="./assets/bootstrap-icons.svg#search">

                </use>
            </svg>
                <img src="./assets/WVUNavbarImage.jpg" alt="" width="300" height="100" class="d-inline-block align-text-top">
            </a><!--bindings={
        "ng-reflect-ng-if": "true"
      }--><!--bindings={
        "ng-reflect-ng-if": null
      }--><img src="./assets/Blue.PNG" alt="" width="30" height="10" class="d-inline-block align-text-top">
      <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav"><li class="nav-item">
            <a routerlink="/home" routerlinkactive="active" aria-current="page" class="nav-link active" style="font-family: Times New Roman; color: white; font-size: 20px;" ng-reflect-router-link="/about" ng-reflect-router-link-active="active" href="/home">Home</a>
        </li>
        
        <li class="nav-item">
            <a ng-reflect-router-link="/items" ng-reflect-router-link-active="active" href="/items" aria-current="page" class="nav-link active" style="font-family: Times New Roman; color: white; font-size: 20px;">Items</a>
        </li>
        
        <li class="nav-item">
            <a ng-reflect-router-link="/shopping-list" ng-reflect-router-link-active="active" href="/shopping-list" class="nav-link" style="font-family: Times New Roman; color: white; font-size: 20px;">Shopping List</a>
          </li>
            
            <li class="nav-item">
              <a ng-reflect-router-link="/recipes" ng-reflect-router-link-active="active" href="/recipes" class="nav-link" style="font-family: Times New Roman; color: white; font-size: 20px;">My Recipes </a>
            </li>

           


          </ul>
        
        
        </div>
            
            
            
            <button ng-reflect-router-link="/login" ng-reflect-router-link-active="active" href="/login" type="button"  class="btn text-white rounded-pill ms-3 me-5 px-4 py-1" style="background-color: #dfa105; font-family: Times New Roman; font-size: 18px;" tabindex="0" >Sign in</button><!--bindings={
        "ng-reflect-ng-if": "true"
      }--><!--bindings={
        "ng-reflect-ng-if": null
      }--></div>
    </nav>
    <div>